pkgbase = overflight
	pkgdesc = See the aircraft flying above you, as a live sky view in your terminal
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/ImanolGo/overflight
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = rust
	depends = gcc-libs
	source = overflight-0.1.1.tar.gz::https://github.com/ImanolGo/overflight/archive/refs/tags/v0.1.1.tar.gz
	sha256sums = 01d8267f35d0eb6129a229b7864ea830b2dffd51517ced106f71fd551bf0b47a

pkgname = overflight
